/**
 * @Author: 福虎
 * @Email: Shenghu.tan@jdxiaokang.com
 * @Update: 2020-02-22 19:31:53
 * @Description: 详情界面
 */
.pageicon
  width:44px
  height:44px
  line-height: 44px
  text-align: center
  background-color: lighten($theme-color,90%)
  border-radius: 4px
  margin-left:auto
  margin-right:auto
  color:$theme-color

.top_box
  background-color:white
  line-height: 30px
  padding-top:30px
  font-size: 16px

.box_main
  background-color: white
  margin-top:25px
  padding-bottom:30px
  font-size: 16px
  :global .ant-tabs-nav-scroll
    text-align: center

.filedval
  color:#aaa

.service_status
  width:520px
  margin-left:auto
  margin-right:auto
  padding-bottom: 30px

.content
  width:580px
  margin-left: auto
  margin-right:auto

.tabs
  text-align: center
  span
    display: inline-block
    padding-left:10px
    padding-right:10px
    cursor pointer
  .current
    color:$theme-color
    border-bottom:2px solid $theme-color

.search_tbl
  width:100%
  margin-bottom: 20px
  th
    text-align: right
  th,td
    padding:7px 3px