/**
 * @Author: 福虎
 * @Email: Shenghu.tan@jdxiaokang.com
 * @Update: 2020-02-22 11:58:26
 * @Description: 服务商管理
 */
.search_tbl
  width 100%
  th
    text-align right
  td
    padding-top 7px
    padding-bottom 7px

.detail_link_1
  color:$theme-color

.detail_link_2
  color:#333333