.bottom_page
  background #fff
  font-size 14px
  color rgba(0, 0, 0, 0.45)
  line-height 22px
  position fixed
  bottom 24px
  width 100%
  text-align center
.text
  display inline-block
  margin-right 40px
.desc
  height 20px
  font-size 12px
  color rgba(0, 0, 0, 0.45)
  line-height 20px
  margin-top 8px
