/**
 * @Author: 福虎
 * @Email: Shenghu.tan@jdxiaokang.com
 * @Update: 2020-02-22 19:31:53
 * @Description: 详情界面
 */
.filedval
  color:#aaa

.content
  width:580px
  margin-left: auto
  margin-right:auto
  padding-top:30px