.logo_page
  text-align center
.store_name
  height 22px
  font-size 14px
  color rgba(0, 0, 0, 0.45)
  line-height 22px
  margin 12px 0 28px
.login_title
  height 28px
  font-size 20px
  font-weight 600
  color rgba(36, 35, 35, 1)
  line-height 28px
  margin-bottom 17px
.logo
  width 64px
  height 64px
  background rgba(21, 72, 244, 1)
  border-radius 8px
  line-height 64px
  text-align center
  margin 0 auto
  color #fff
  font-size 32px