.search_box
  padding-top:10px
  padding-bottom:10px
  table
    width:100%
    th,td
      padding:7px 5px
    th
      text-align: right
      width:100px


.info_box
  display: flex
  flex-wrap: wrap
  margin: 20px auto 0 auto
  overflow: hidden
  border-bottom: 1px dotted #dfdfdf
  .item
    width: 33.3%
    text-align: center
    position: relative
    color: #333
    margin-bottom: 10px
    font-size: 16px
    label
      display: block
      color: #888
      margin-bottom: 10px
      font-size: 14px
    &:before
      position: absolute
      top: 0
      bottom: 0
      left:-1px
      margin:auto
      height 28px
      width: 1px
      background: #eeeeee
      content: ''