

.step_box 
  width: 600px
  margin: 0 auto
  .info_box
    flex-wrap: wrap
    display: flex
    .item
      width :50%
      flex-shrink: 0
      color: #888
      margin-top: 20px
      label 
        color: #444
  .photo_box
    color #444
    margin-top: 20px
    .content
      display: flex
      align-items: center
      margin-top: 20px
      img 
        width: 109px
        height 109px
        display: block
        border-radius: 2px 
      img + img 
        margin-left: 10px