/**
 * @Author: 福虎
 * @Email: Shenghu.tan@jdxiaokang.com
 * @Update: 2020-02-22 19:31:53
 * @Description: 详情界面
 */

.iconimg1
  background-image: url("../../../../../assets/images/home/failed.png")
  background-repeat: no-repeat
  background-position: center top
  background-size:100% 100%
  width:105px
  height:130px
  margin:50px auto

.pageicon
  width:44px
  height:44px
  line-height: 44px
  text-align: center
  background-color: lighten($theme-color,90%)
  border-radius: 4px
  margin-left:auto
  margin-right:auto
  color:$theme-color

.top_box
  background-color:white
  text-align: center
  line-height: 30px
  padding-top:30px
  padding-bottom:30px

.pagetip
  color:#555658
  margin-top:20px
  font-size: 16px
  text-align: center

.box_main
  background-color: white
  margin-top:25px
  padding-top:30px
  padding-bottom:30px